<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src="/common/Modules/vendor/axios/current/index.min.js"></script>
	<script src="/common/Modules/vendor/crypto-js/current/index.min.js"></script>
	<script src="/common/Modules/vendor/regenerator-runtime/current/index.min.js"></script>
	<script src="/common/Modules/native/sp/current/index.js"></script>
	<script src="/common/Modules/native/spx/current/index.min.js"></script>
</head>

<body class="body">
	<div id="master-app"></div>
</body>

</html>