sizes = 'smallest' 'smaller' 'small' 'base' 'large' 'larger' 'largest'
axes = 'top' 'right' 'bottom' 'left'
colors = 'gray' 'red' 'green' 'blue'
intensities = 'lightest' 'lighter' 'light' 'base' 'dark' 'darker' 'darkest'
