@import 'paths.styl'

@charset 'UTF-8'
@font-face
	font-family 'Roboto'
	src local('Roboto Thin'), local('Roboto-Thin'), url($fontDir + 'Robotothin.woff2') format('woff2'), url($fontDir + 'Robotothin.woff') format('woff'), url($fontDir + 'Robotothin.ttf') format('truetype')
	font-weight 100
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url($fontDir + 'Robotothinitalic.woff2') format('woff2'), url($fontDir + 'Robotothinitalic.woff') format('woff'), url($fontDir + 'Robotothinitalic.ttf') format('truetype')
	font-weight 100
	font-style italic

@font-face
	font-family 'Roboto'
	src local('Roboto Light'), local('Roboto-Light'), url($fontDir + 'Robotolight.woff2') format('woff2'), url($fontDir + 'Robotolight.woff') format('woff'), url($fontDir + 'Robotolight.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Light Italic'), local('Roboto-LightItalic'), url($fontDir + 'Robotolightitalic.woff2') format('woff2'), url($fontDir + 'Robotolightitalic.woff') format('woff'), url($fontDir + 'Robotolightitalic.ttf') format('truetype')
	font-weight 300
	font-style italic

@font-face
	font-family 'Roboto'
	src local('Roboto'), local('Roboto-Regular'), url($fontDir + 'Roboto.woff2') format('woff2'), url($fontDir + 'Roboto.woff') format('woff'), url($fontDir + 'Roboto.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Italic'), local('Roboto-Italic'), url($fontDir + 'Robotoitalic.woff2') format('woff2'), url($fontDir + 'Robotoitalic.woff') format('woff'), url($fontDir + 'Robotoitalic.ttf') format('truetype')
	font-weight 400
	font-style italic

@font-face
	font-family 'Roboto'
	src local('Roboto Medium'), local('Roboto-Medium'), url($fontDir + 'Robotomedium.woff2') format('woff2'), url($fontDir + 'Robotomedium.woff') format('woff'), url($fontDir + 'Robotomedium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url($fontDir + 'Robotomediumitalic.woff2') format('woff2'), url($fontDir + 'Robotomediumitalic.woff') format('woff'), url($fontDir + 'Robotomediumitalic.ttf') format('truetype')
	font-weight 500
	font-style italic

@font-face
	font-family 'Roboto'
	src local('Roboto Bold'), local('Roboto-Bold'), url($fontDir + 'Robotobold.woff2') format('woff2'), url($fontDir + 'Robotobold.woff') format('woff'), url($fontDir + 'Robotobold.ttf') format('truetype')
	font-weight 700
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url($fontDir + 'Robotobolditalic.woff2') format('woff2'), url($fontDir + 'Robotobolditalic.woff') format('woff'), url($fontDir + 'Robotobolditalic.ttf') format('truetype')
	font-weight 700
	font-style italic

@font-face
	font-family 'Roboto'
	src local('Roboto Black'), local('Roboto-Black'), url($fontDir + 'Robotoblack.woff2') format('woff2'), url($fontDir + 'Robotoblack.woff') format('woff'), url($fontDir + 'Robotoblack.ttf') format('truetype')
	font-weight 900
	font-style normal

@font-face
	font-family 'Roboto'
	src local('Roboto Black Italic'), local('Roboto-BlackItalic'), url($fontDir + 'Robotoblackitalic.woff2') format('woff2'), url($fontDir + 'Robotoblackitalic.woff') format('woff'), url($fontDir + 'Robotoblackitalic.ttf') format('truetype')
	font-weight 900
	font-style italic