$dir = '/common/Images/current/'

$body-background = url($dir + 'master/background/index.png')
$logo-background = url($dir + 'sidebar/logo/index.png')
$sidebar-background = url($dir + 'sidebar/background/index.png')
$notification-image = url($dir + 'sidebar/notification/index.svg')
$anonymous-image = url($dir + 'master/anonymous/index.png')
