$dir = '~@/assets/common/Images/current/master/'

$body-background = url($dir + 'background/index.png')
$anonymous-image = url($dir + 'anonymous/index.png')
$logo-background = url($dir + 'sidebar/logo/index.png')
$sidebar-background = url($dir + 'sidebar/background/index.png')
$notification-image = url($dir + 'sidebar/notification/index.svg')
