registry = json('../../registry.json', { hash: true })
$baseDir = '/' + registry.masterWeb + '/'
$imagesLib = registry.libraries.images
$assetsLib = registry.libraries.assets
$imagesDir = $baseDir + $imagesLib + '/current/master/'
$fontDir = $baseDir + $assetsLib + '/fonts/Roboto/'
$iconsDir = $baseDir + $assetsLib + '/icons/SimpleLineIcons/'
